{% extends "base.html" %}
{% block content %}
    <h1 class="ui header">Tests</h1>
    <br/>
    <div class="ui column centered grid">

        <div class="ui cards">
            <div class="card">
              <div class="content">
                <i class="right floated mini ui big map marker alternate icon"></i>
                <div class="header">
                  Position
                </div>
                <div class="meta">
                  Position of the Robot
                </div>
                <div class="description">
                  x: <br/>
                  y: <br/>
                  theta: <br/>
                </div>
              </div>
              <div class="extra content">
                <i class="check icon"></i>
                121 Votes
              </div>
            </div>

            <div class="card">
              <div class="content">
                <i class="right floated mini ui big rss icon"></i>
                <div class="header">
                  Communication
                </div>
                <div class="meta">
                  TCP & WebSockets Status
                </div>
                <div class="description">
                  STM32 <br/>
                  WebSockets
                </div>
              </div>
              <div class="extra content">
                <i class="check icon"></i>
                121 Votes
              </div>
            </div>

            <div class="card">
                <div class="content">
                  <i class="right floated mini ui big microchip icon"></i>
                  <div class="header">
                    Distance sensors
                  </div>
                  <div class="meta">
                    Value of VL53l01X
                  </div>
                  <div class="description">
                    STM32 <br/>
                    WebSockets
                  </div>
                </div>
                <div class="extra content">
                  <i class="check icon"></i>
                  121 Votes
                </div>
              </div>

              <div class="card">
                <div class="content">
                    <i class="right floated mini ui big cogs icon"></i>
                  <div class="header">
                    ServoMotors
                  </div>
                  <div class="meta">
                    ServoMotors position
                  </div>
                  <div class="description">
                    STM32 <br/>
                    WebSockets
                  </div>
                </div>
                <div class="extra content">
                  <i class="check icon"></i>
                  121 Votes
                </div>
              </div>

              <div class="card">
                <div class="content">
                    <i class="right floated mini ui big lightbulb outline icon"></i>
                  <div class="header">
                    LED
                  </div>
                  <div class="meta">
                    LED STM32                    
                  </div>
                  <div class="description">
                    STM32 <br/>
                    WebSockets
                  </div>
                </div>
                <div class="extra content">
                  <i class="check icon"></i>
                  121 Votes
                </div>
              </div>

              <div class="card">
                <div class="content">
                    <i class="right floated mini ui big file video outline icon"></i>
                  <div class="header">
                    Camera
                  </div>
                  <div class="meta">
                    Live OpenCV output stream                    
                  </div>
                  <div class="description">
                    
                  </div>
                </div>
                <div class="ui bottom attached button">
                    <i class="add icon"></i>
                    Open Video Stream
                  </div>
              </div>

          </div>
   
    </div>
    

{% endblock %}



